<div class="header text-center" style="font-family: 'Amatic SC', cursive;">
    <h1>Gussy's introduction</h1>
    <hr class="my-4">
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-xl-4" style="font-family: 'Amatic SC', cursive;text-align:center">
            <img class="user-icon" src="https://1.bp.blogspot.com/-HdrrDLMxxGs/Ws2uzOpk8yI/AAAAAAABLRY/9Td_5zg6Nf4eOkMiTbVdJ8qwuAfHfCltwCLcBGAs/s800/figure_dance.png" style="width:150px; border-radius:50%">
            <div class="user-info">
                <h1>GUSSY</h1>
                <dl class="user-sns">
                    <dt>Twitter</dt>
                    <dd>@</dd>
                    <dt>Instagram</dt>
                    <dd>@</dd>
                </dl>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-xl-8">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <div class="card text-center">
                        <div class="card-header">
                            <h5 class="card-title">スポーツ</h5>
                        </div>
                        <div class="card-body">
                            <ul>
                            <li>サッカー</li>
                                <li>baseball</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card text-center">
                        <div class="card-header">
                            <h5 class="card-title">音楽</h5>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li>オタク音楽</li>
                                <li>アニソン</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <div class="card text-center">
                        <div class="card-header">
                            <h5 class="card-title">ゲーム</h5>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li>バンドリ</li>
                                <li>smash4 zss</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
