<%= render "layouts/header" %>

<br>
<br>

<div class="container">
  <div id="scroll" style="height: 800px; overflow: auto; padding: 32px; border: 1px solid #ccc; background: #fffff7; border-radius: 6px;">
    <h1>使い方ガイド</h1>
    <!DOCTYPE html>
    <html>
      <body>

        <div id="contentarea">
          <div class="cell markdown-cell">
            <p>ホビコムあまり前例のないアプリであり、既存のSNS(Twitter, 出会い系, facebookなど)とは違い， 現実世界での対話を促進することを
            目的としています。</p>

            <h2>ホビコムとは</h2>
            <p>あなたは何かしらの都合(仕事,講義のグループ活動)で、他者と連絡先を交換したことは無いでしょうか？</p>
            <p>Yesなら、一度LINE交換をして、それっきりの人はいませんか？
              仕事や課題でグループになっただけの付き合いで連絡先を交換した場合、いきなり相手の趣味や好きに踏み込み、
              相手を知ろうとすることが出来る人はそうは多くはないと思います。<br>
              短期間だけ関わる相手とでは、あまり相手の事をよく知らないまま、微妙な距離感のまま時間が経ってしまい、
              そのまま連絡先を交換しただけの他人になってしまう。<br>
              どうせなら出来るだけ仲良くなりたい...でも上手く相手に踏み込む自信もないしちょっと躊躇う...<br>
              現在この問題を解決する方法は２つあり、</p>
            <ul>
              <li>勇気を出して相手に踏み込む。</li>
            </ul>
            <p>上記でも挙げた通り、これは誰しもが出来ることではありません..</p>
            <ul>
              <li>ゆっくり時間を掛けて仲良くなる。</li>
            </ul>
            <p>これも最良確実な方法ではありません...このことから私たちは、3つ目の選択肢を用意することにしました。
              それが、”ホビコム”を使う、という方法です。</p>
            <p>ホビコムは名刺の様な存在に近いもので、
              自分の好きなもの(趣味)を登録し、連絡先を交換した相手に自分の好きなもの(趣味)を見てもらう事で
              ”名前以外の情報を与える”ことが出来ます。<br>
              これは相手からすると、会話のネタができた様なもので、</p>
            <ul>
              <li>好きなものが被っていればそれに関する話ができる</li>
              <li>知らないけど興味がある内容があれば、それについて”訊く”事で無難に話ができる</li>
              <li>趣味が全く被っていないことが分かれば、無理に話す事なく済ませる事もできる</li>
              <li>ホビコムからの情報を受け取る事自体が、友好の意思を示すものとなる</li>
            </ul>
            <p>といったメリットが期待できます。</p>

            <h2>Q &amp; A</h2>
    <!--        <h3>Q.これは結局相手次第ではないか？</h3>-->
    <!--        <p>A. もし相手からのリアクションがなければそれはそういう事です。どうしようもありません</p>-->
            <h3>Q.Twitter,出会い系と何が違うの？</h3>
            <p>A.</p>
            <ul>
              <li>Twitter,出会い系：条件(ここでは好きなもの(趣味))を検索 → フォロー,マッチング</li>
              <li>ホビコム,名刺：面識を持つ(連絡先を交換する)  → 相手の好きなもの,趣味を知る(話の糸口)の様に順序が真逆になります。</li>
            </ul>
            <h3>Q.コアな趣味を持っていて、簡単には知られたくない場合はどうすればいいの</h3>
            <p>A. ホビコムには趣味の欄に「公開」「非公開」があり、コアな趣味は非公開に設定することで、
              相手とその趣味が一致した場合のみ閲覧可能となる機能が搭載されています。</p>
          </div>
        </div>
      </body>
    </html>
  </div>
</div>
