<%= stylesheet_link_tag "help", :media => "all" %>

<header>
  <%= render "layouts/header" %>
</header>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div id="scroll">
        <div class="text-center">
          <h1>使い方ガイド</h1>
        </div>
        <div id="contentarea">
          <div class="cell markdown-cell">
            <p>Hobby-comは、既存のSNS(Twitter, 出会い系, facebookなど)とは違い、現実世界での対話を促進することを目的としています。</p>
            <h3>どういうアプリ？</h3>
            <p>
              あなたが受け持つ仕事やグループ活動で、他者と連絡先を交換したことはありませんか？
            </p>
            <p>
              しかし、あまり相手の事をよく知らないまま、連絡先を交換しただけの他人になってしまうことが多いでしょう。
            </p>
            <p>
              そこで、Hobby-comの出番です！
              Hobby-comは、名刺のようなイメージであらかじめ自身が登録した好きなものを連絡先の交換時に渡すことで、趣味や好きなことの共有ができます。
              それが、相手との会話の糸口に繋がるでしょう。
            </p>
            <h3>どんなやって使うの？</h3>
            <p>
              アプリの簡単な使い方は、以下の通りです。
            </p>
            <ol>
              <li>新規登録ボタンをクリックして、自身の"趣味"や"好きなこと"を設定する。</li>
              <li>紹介したい人(初対面の人とか)に、URLまたはQRコードを教える。</li>
              <li>お互いの趣味が共有できたら、話の糸口として熱く語ろう。</li>
            </ol>
            <p>
              また、お互いにフォローすることもできます。 自身がHobby-comにログインしていて他人のページへ飛ぶと、以下のことができます。
            </p>
            <ol>
              <li>他人のページに、URLまたはQRコードでアクセスする。</li>
              <li>お互いに友達申請を出し、友達登録を行う。</li>
              <li>非公開設定している趣味の"共通点"や公開設定している趣味の"共通かも"を抽出できる。</li>
            </ol>
            <h3>Q &amp; A</h3>
            <p>
              <b>Q.</b>Twitter,出会い系,facebookとは何が違うの？
            </p>
            <p>
              <b>A.</b>
              以下のように、相手の趣味や好きなことについて、お互いに熱く語る順序が真逆になっております。
              <ul>
                <li>Twitter,出会い系,facebook：趣味や好きなことを検索してから、フォロー,マッチングする。</li>
                <li>Hobby-com,名刺：現実世界で相手と面識を持ってから、連絡先を交換する。</li>
              </ul>
            </p>
            <p>
              <b>Q.</b>コアな趣味を持っていて、簡単には知られたくない場合はどうすればいいの？
            </p>
            <p>
              <b>A.</b>
              Hobby-comには、趣味の公開・非公開の設定ができ、自身のコアな趣味を非公開に設定することで、
              相手とその趣味が一致した場合のみ閲覧可能となる機能が搭載されておりますので、安心してご利用頂けます。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>