<body>
  <header>
    <%= render "layouts/header" %>
  </header>

<div class="container">
  <div id="scroll" style="height: 800px; overflow: auto; padding: 32px; border: 1px solid #ccc; background: #fffff7; border-radius: 6px;">

    <div class="text-center">
      <h1>使い方ガイド</h1>
    </div>

    <div id="contentarea">
      <div class="cell markdown-cell">
        <p>Hobby-comは、既存のSNS(Twitter, 出会い系, facebookなど)とは違い、現実世界での対話を促進することを目的としています。</p>

        <h3>どういうアプリ？</h3>
        <p>
          あなたが受け持つ仕事やグループ活動で、他者と連絡先を交換したことはありませんか？<br>
          しかし、あまり相手の事をよく知らないまま、連絡先を交換しただけの他人になってしまうことが多いでしょう。<br>
          そこで、Hobby-comの使い方は名刺のようなイメージで、
          あらかじめ自身が登録した好きなものをお互いに熱く語り合うことができます。<br>
          <br>
        </p>

        <h3>どんなやって使うの？</h3>
        <p>
          アプリの簡単な使い方は、以下の通りです。
        </p>
        <ol>
          <li>新規登録ボタンをクリックして、自身の"趣味"や"好きなこと"を設定する。</li>
          <li>紹介したい人(初対面の人とか)に、URLまたはQRコードを教える。</li>
          <li>お互いの趣味が共有できたら、話の糸口として熱く語ろう。</li>
        </ol>

        <p>
          また、お互いにフォローすることもできます。 自身がHobby-comにログインしていて他人のページへ飛ぶと、以下のことができます。
        </p>
        <ol>
          <li>他人のページに、URLまたはQRコードでアクセスする。</li>
          <li>お互いに友達申請を出し、友達登録を行う。</li>
          <li>非公開設定している趣味の"共通点"や公開設定している趣味の"共通かも"を抽出できる。</li>
        </ol>

        <h3>Q &amp; A</h3>
        <h5>Q.Twitter,出会い系, facebookとは何が違うの？</h5>

        <h5>A.
          <ul>
            <li>Twitter,出会い系：条件(ここでは好きなもの(趣味))を検索 → フォロー,マッチング</li>
            <li>ホビコム,名刺：面識を持つ(連絡先を交換する)  → 相手の好きなもの,趣味を知る(話の糸口)の様に順序が真逆になります。</li>
          </ul>
        </h5>

        <h5>Q.コアな趣味を持っていて、簡単には知られたくない場合はどうすればいいの？</h5>

        <h5>
          <p>
            A.
            ホビコムには趣味の欄に「公開」「非公開」があり、コアな趣味は非公開に設定することで、
            相手とその趣味が一致した場合のみ閲覧可能となる機能が搭載されています。
          </p>
        </h5>

      </div>
    </div>

  </div>
</div>

</body>
