<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>プロトタイプ</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
</head>

<body>
    <div class="header text-center" style="font-family: 'Amatic SC', cursive;">
        <h1>kanekou's hobby</h1>
        <hr class="my-4">
    </div>
    <div class="card-deck">
        <div class="card text-center">
            <div class="card-header">
                <h5 class="card-title">スポーツ</h5>
            </div>
            <div class="card-body">
                <ul>
                    <li>サッカー</li>
                    <li>バスケ</li>
                </ul>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-header">
                <h5 class="card-title">音楽</h5>
            </div>
            <div class="card-body">
                <ul>
                    <li>ポルカドットスティングレイ</li>
                    <li>サーモン</li>
                </ul>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-header">
                <h5 class="card-title">ゲーム</h5>
            </div>
            <div class="card-body">
                <ul>
                    <li>バンドリ</li>
                    <li>二ーアオートマタ</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>
