<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>プロトタイプ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
</head>

<body>
    <div class="header text-center" style="font-family: 'Amatic SC', cursive;">
        <h1>kame's hobby</h1>
        <hr class="my-4">
    </div>
    <div class="card-deck">
        <div class="card text-center">
            <div class="card-header">
                <h5 class="card-title">スポーツ</h5>
            </div>
            <div class="card-body">
                <ul>
                    <li>ランニング</li>
                    <li>バトミントン</li>
                    <li>弓道</li>
                </ul>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-header">
                <h5 class="card-title">音楽</h5>
            </div>
            <div class="card-body">
                <ul>
                    <li>MYTH & ROID</li>
                    <li>Mrs. GREEN APPLE</li>
                </ul>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-header">
                <h5 class="card-title">ゲーム</h5>
            </div>
            <div class="card-body">
                <ul>
                    <li>パズドラ</li>
                    <li>モンスト</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>
