<div class="header text-center" style="font-family: 'Amatic SC', cursive;">
    <h1>kame's introduction</h1>
    <hr class="my-4">
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-xl-4" style="font-family: 'Amatic SC', cursive;text-align:center">
            <img class="user-icon" src="https://2.bp.blogspot.com/-_gTPeupXNh8/Vi32hpXWS8I/AAAAAAAA0Lk/rmXXoSHrVAs/s800/figure_suwaru.png" style="width:150px; border-radius:50%">
            <div class="user-info">
                <h1>kame</h1>
                <dl class="user-sns">
                    <dt>Twitter</dt>
                    <dd>@</dd>
                    <dt>Instagram</dt>
                    <dd>@</dd>
                </dl>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-xl-8">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <div class="card text-center">
                        <div class="card-header">
                            <h5 class="card-title">スポーツ</h5>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li>ランニング</li>
                                <li>バトミントン</li>
                                <li>弓道</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card text-center">
                        <div class="card-header">
                            <h5 class="card-title">音楽</h5>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li>MYTH & ROID</li>
                                <li>Mrs. GREEN APPLE</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <div class="card text-center">
                        <div class="card-header">
                            <h5 class="card-title">ゲーム</h5>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li>パズドラ</li>
                                <li>モンスト</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
