<% provide(:title, 'Sign up') %>
<% provide(:button_text, '　登録　') %>
<% provide(:action, 'new') %>

<!-- 強制ログアウト -->
<% log_out %>

<!-- <h1 class="title">ホビコム登録フォーム</h1> -->
<div class="container">
<!--  <form class="">-->
  <div class="user_data">
    <%= render 'form' %>
  </div>
</div>
<style type="text/css">
  .obj-left{
    display:inline-block;
    float:left;
  }
  .obj-right{
    margin-left:50%;
    display:inline-block;
  }
  @media(min-width: 768px) {
  .field-label-responsive {
    padding-top: .2rem;
    text-align: right;
    }
  }

  * {
    margin:  0;
    padding: 0;
  }

  .my-skyblue {color: skyblue}

</style>
