<div class="header text-center" style="font-family: 'Amatic SC', cursive;">
    <h1>ryama's introduction</h1>
    <hr class="my-4">
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-xl-4" style="font-family: 'Amatic SC', cursive;text-align:center">
            <img class="user-icon" src="https://2.bp.blogspot.com/-V37FS3KcOq4/Wm1yhS-v3AI/AAAAAAABJ5g/PgqdfkH1yMwf1moO23TyM1aB_26_17-YACLcBGAs/s800/figure_jump.png" style="width:150px; border-radius:50%">
            <div class="user-info">
                <h1>ryama</h1>
                <dl class="user-sns">
                    <dt>Twitter</dt>
                    <dd>@</dd>
                    <dt>Instagram</dt>
                    <dd>@</dd>
                </dl>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-xl-8">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <div class="card text-center">
                        <div class="card-header">
                            <h5 class="card-title">スポーツ</h5>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li>弓道</li>
                                <li>ランニング</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card text-center">
                        <div class="card-header">
                            <h5 class="card-title">音楽</h5>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li>BUMP OF CHICKEN</li>
                                <li>フレデリック</li>
                                <li>ヨルシカ</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <div class="card text-center">
                        <div class="card-header">
                            <h5 class="card-title">ゲーム</h5>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li>バンドリ</li>
                                <li>スプラトゥーン</li>
                                <li>steins;gate</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
