// Place all the styles related to the Element controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-outline{
    color: #ff8c00;
    background:white;
    border-color: #ff8c00;
}
.btn-submit{
    color: white;
    font-weight:bold;
    background:#ffc107;
    border-color: #ff8c00;
}

/*好きなことの編集*/
.edit-header {
    font-size: 40px;
    padding: 20px;
    color: #FFF;
    background-color: rgba(139, 69, 19, 0.4);
    border-bottom: 3px solid #404040;
}

/*固有名詞でお願いします*/
small {
    font-size: 50%;
    font-weight: unset;
}

h2 {
    padding: 0.25em 0.5em;/*上下 左右の余白*/
    color: #000000;/*文字色*/
    background: transparent;/*背景透明に*/
    border-left: solid 5px #000000;/*左線*/
}
table th { /*table内のthに対して*/
    text-align: center;
    //padding:0rem 0.5rem;
}

table td { /*table内のtdに対して*/
    text-align: center;
    
    input[type="text"]{
        width:10rem;
        margin:0.5rem;
    }
}
.box-area{
    padding-left:1rem;
    padding-bottom:1rem;
    margin-bottom: 1rem;
    background: #faf7e0;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2), 0 0 30px rgba(0,0,0,0.4) inset;
}
#edit_elements{
    margin-bottom: 3rem;
}
#messege-box{
    margin-bottom: 3rem;
}
@media (min-width:768px){
    #messege-box{
        height:38.625rem;
    }

}