.main{
  background-color: #FAFCE2;
  height: 600px;
}

.main{
  height:900px;
}

.header{
  font-size:40px;
  padding: 20px;
  color:#FFF;
  background-color: #7B7329;
  border-bottom: 3px solid #404040;
}        
.card{
  margin:20px;
}

.title{
 font-size:40px;
 color:#4B4300;
 border: 5px solid #7B7329;
}
         
.card-body{
  font-size:30px;
  color:#4B4300;
  border: 5px solid #7B7329;
}

.card-head{
  padding-top:20px; 
}

.hobbylist{
 float:left; 
}
