
.main{
  height: 600px;
}

html{
  @media screen and (max-width: 768px){
    font-size: 12px;
  }
}

.header{
  font-size:40px;
  padding: 20px;
  color:#FFF;
  background-color: rgba(139, 69, 19, 0.4);
  border-bottom: 3px solid #404040;
}

.header1{
  font-size:40px;
  padding: 20px;
  color:#FFF;
  background-color: rgba(139, 69, 19, 0.4);
  border-bottom: 3px solid #404040;
}

.card{
  margin:20px;
}

.title{
 font-size:40px;
 color:#4B4300;
 border: 5px solid #7B7329;
 @media screen and (max-width: 768px){
   font-size: 28px;
 }
}

.card-body{
  font-size:30px;
  color:#4B4300;
  border: 5px solid #7B7329;
  background-color: #FAFCE2;
  @media screen and (max-width: 768px){
    font-size: 18px;
  }
}

.card-head{
  padding-top:20px;
}

.card-title{
  background-color: #FAFCE2;
}

.hobbylist{
 float:left;
}


.box22{
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #232323;
  z-index: 2;

  position: relative;
  // background: #fff8e8;
  background: linear-gradient(to right, #FDF8E6 0%, #F5ECDA 0.5%, #F5ECDA 13%, #FDF8E6 16%);
  border-right: solid 100px #5bb7ae;
  // background: rgba(0,0,0,0.5);
  box-shadow: 3px 5px 5px rgba(0,0,0,0.5);
  transform: rotate(0.2deg);
  margin-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
}
.box22 p {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px){
  .box22{
    border-right: solid 30px #5bb7ae;
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
}


.heading1{
	position:relative;
	padding-left:55px;
	border-bottom:5px solid #ccc;
	font-weight: bold;
	font-size: 40px;
	line-height: 65px;
}

.heading1:before{
	content:'';
	height:24px;
	width:24px;
	display:block;
	background:#00A8FF;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
	-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
	position:absolute;
	top:3px;
	left:17px;
	transform:rotate(-50deg);
	-webkit-transform:rotate(-50deg);
	-moz-transform:rotate(-50deg);
	-o-transform:rotate(-50deg);
	-ms-transform:rotate(-50deg);
}
.heading1:after{
	content:'';
	height:16px;
	width:12px;
	display:block;
	background:#00A8FF;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
	-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
	position:absolute;
	top:25px;
	left:9px;
	transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	-ms-transform:rotate(-75deg);
}


ol.sample1{
  list-style-type:none;
  position:relative;
  padding: 1.2em;
  background:#F2EFE7;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset,0 0 4px rgba(0, 0, 0, 0.2) ;
  -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset,0 0 4px rgba(0, 0, 0, 0.2) ;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset,0 0 4px rgba(0, 0, 0, 0.2) ;
  width:340px;
}
ol.sample1:after{
  content:"Hobby-com";  /* 右下の文字 */
  position: absolute;
  bottom: 8px;
  right: 1.2em;
  font-size:12px;
  color:#bbb;
}
ol.sample1 li{
  position:relative;
  padding: 7px 5px 7px 50px;
  margin: 7px 0 10px 0px;
  font-weight: bold;
  font-size:14px;
  border-bottom:dashed 1px #ccc;
  color:#333;
}
ol.sample1 li:first-child{
  margin-top:0;
}
ol.sample1 li:last-child{
  margin-bottom:20px;
}
ol.sample1 li:before{
  counter-increment: list;
  content: "・";
  position: absolute;
  left: 15px;
  font-size:1.2em;
   top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.orikaeshi{
  word-wrap: break-word;
}
