body {
  font-family: 'Comic Sans MS';
  font-size: 16px;
  line-height: 1.42857;
  background: rgba(250, 165, 0, 0.2);

  background: image-url('european-fan.jpg');
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

header {
  background: rgba(250, 165, 0, 0.5);
  height: 100%;
  width: 100%;
}

/*headerの中央揃え*/
.center {
  text-align: center;
  padding: 15px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
}

h1 {
  color: #ffebcd;
  font-size: 3.0rem;
  font-family: 'Comic Sans MS';
  margin:0px;
}

b {
  color: #ffebcd;
  font-weight: bolder;
  font-size: x-large;
}

/*文字のmargin*/
.col-sm {
  text-align: left;
  margin: 100px;
}

/*ボタンのmargin*/
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  margin: 3px;
}

/*ボタンの枠線*/
.btn-outline-warning {
  color: #ff8c00;
  background-image: none;
  border-color: #ff8c00;
}

/*ボタン背景色の無効化*/
.bg-light {
  background-color: rgba(0,0,0,0) !important;
}

.bg-warning {
  background-color: rgba(0,0,0,0) !important;
}

/*フッターのコンソールログ削除*/
pre {
  color: rgba(0,0,0,0);
}