body{
  font-family: 'Comic Sans MS';
  font-size: 16px;
  line-height: 1.42857;
  background: rgba(250, 165, 0, 0.2);
}

header {
  background: rgba(250, 165, 0, 0.4);
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 300;
  line-height: 1.2;
}

h1{
  color: #FFFFFF;
  font-family: 'Comic Sans MS';
  margin:0px;
}

h1, .h1 {
  font-size: 3.0rem;
}

b, strong {
  font-weight: bolder;
  font-size: x-large;
}

div.blocka {
  text-align: right;
  padding: 5px;
}

div.blockb {
  text-align: left;
  float: left;
  width: 50%;
  padding: 75px;
}

div.blockc {
  text-align: left;
  float: right;
  width: 50%;
  padding: 75px;
}

div.blockd {
  text-align: center;
}

.btn-outline-warning {
  color: #ff8c00;
  background-image: none;
  border-color: #ff8c00;
}