<% @user ||= current_user %>
<div class="stats">
  <a href="<%= friends_user_profile_path(account: @user.account) %>">
    <% friends = @user.find_friends.size%>
    <div class="text-light">
      フレンド数：
      <strong id="followers" class="stat">
        <%= friends %>
      </strong>
    </div>
  </a>
  <br>
  <a href="<%= follow_requests_user_profile_path(account: @user.account) %>">
    <% requests = @user.find_friend_requests.size%>
    <div class="text-light">
      リクエスト中：
      <strong id="followers" class="stat">
        <%= requests %>
      </strong>
    </div>
  </a>
</div>
