<% provide(:title, 'Sign up') %>
<h1 class="title">ホビコム登録フォーム</h1>
<div class="container">
  <div class="user_data">

    <h2>趣味の追加</h2>
    <p>趣味をご自由にご記入ください。趣味が複数ある場合は、「更に趣味を追加」ボタンをクリックして追加してください</p>

    <h3>趣味解答欄</h3>
    <%= form_for @element, :url => { :controller => :element } do |f| %>
      <%= render 'add_form' %>
      <%= f.submit "送信", class: "btn btn-submit" %>
    <% end %>
    <br>
    <br>
  </div>
</div>
<style type="text/css">
  body{
    background: rgba(250, 165, 0, 0.2);
  }
  .btn-submit{
    color: white;
    font-weight:bold;
    background:#ffc107;
    border-color: #ff8c00;
  }
</style>
