<% provide(:title, 'Sign up') %>
<h1 class="title">好きなことの追加</h1>
<div class="container">
  固有名詞でお願いします
  <br>
  <br>
  例：<br>
  本を読む→読書<br>
  ラーメンを食べる→ラーメン<br>
  <br>
  <div class="user_data">

    <%= form_for @element, :url => { :controller => :element } do |f| %>
      <%= render 'add_form' %>
      <%= f.submit "送信", class: "btn btn-submit" %>
    <% end %>
    <br>
    <br>
  </div>
</div>
<style type="text/css">
  body{
    background: rgba(250, 165, 0, 0.2);
  }
  .btn-submit{
    color: white;
    font-weight:bold;
    background:#ffc107;
    border-color: #ff8c00;
  }
</style>
