<h1>Hobby-com</h1>
<p>どんな趣味も共有できる、心の壁も取り払うことができる</p>
<h2>ユーザー</h2>

<!-- データベースから名前を取得してボタンを出力 -->
<% User.all.each do |user| %>
  <%=link_to user.name, user_profile_path(id: user.id), { :class => "btn btn-outline-primary" }%>
<% end %>

<br><br>

<h2>登録</h2>
<%=link_to 'Start ホビコム!', signup_path , { :class => "btn btn-primary" }%>
